html,
body {
    margin: 0;
    padding: 0;
    background-color: #222;
}

@font-face {
    font-family: 'Satisfontory';
    src: url("fonts/Satisfontory_v1.5.otf") format('opentype');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: "Sarabun", sans-serif;
}

.wrapper {
    background-color: #222;
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    grid-template-rows: auto;
}

#logo {
    grid-column: 2 / 4;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    height: 50px;
}

nav {
    grid-column: 4 / -2;
    grid-row: 1;
}

nav ul {
    display: flex;
    list-style-type: none;
    flex-flow: row nowrap;
}

nav ul li {
    width: 100%;
}

nav a {
    color: #a8a8a8;
    text-decoration: none;
    font-size: 20px;
    padding: 1rem 0rem;
    display: block;
    text-align: center;
}

p a {
    text-decoration: underline;
    text-decoration-color: #FA9549;
    color: #FFF;

}

nav a:last-child {
    padding-right: 1rem;
}

nav a:hover {
    background-color: #5d5d5d;
}

#design-selector {
    grid-column: 2 / 4;
    grid-row: 4
}

#orangebar {
    grid-column: 1 / -1;
    grid-row: 2;
    height: 5px;
    background-color: #FA9549;
    margin-bottom: 14px;
}

#graybar1,
#graybar2,
#graybar3 {
    grid-column: 2 / -2;
    height: 1px;
    background-color: #5d5d5d;
}

#graybar1 {
    grid-row: 3;
}

.main-content {
    grid-column: 2 / 5;
    grid-row: 4;
    color: #FFF;
    padding: 27px
}

.main-content h1 {
    font-family: 'Satisfontory';
    font-weight: lighter;
}

aside {
    margin: 0px;
    margin-top: 27px;
    grid-column: 5 / -2;
    grid-row: 4;
    background-color: #2d2d2d;
    max-width: 452px;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 26px 1fr 2fr 1fr 26px;
    grid-auto-rows: min-content;
    align-items: start;
    border-radius: 20px;
}


#building {
    grid-template-columns: none;
    grid-column: 5 / -2;
    max-width: auto;
    margin-left: 1em;
}

#logistics {
    grid-template-columns: none;
    grid-column: 2 / 5;
    max-width: auto;
}

aside h1  {
    color: #fff;
    font-family: 'Satisfontory';
    font-weight: lighter;
    grid-column: 1 / -1;
    grid-row: 1;
    height: 43px;
    text-align: center;
    background-color: #3D3D3D;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

aside span {
    grid-column: 2;
    background-color: #3D3D3D;
    margin: 0px;
    margin-top: 1rem;
    border-top-left-radius: 10px;
    height: 16px;
}

aside h5 {
    grid-column: 3;
    color: #fff;
    background-color: #3D3D3D;
    margin: 0px;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    white-space: nowrap;
}

#latest-designs p {
    grid-column: 4;
    color: #A8A8A8;
    background-color: #3D3D3D;
    margin: 0px;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 10px;
    font-size: 8px;
    border-top-right-radius: 10px;
    height: 16px;
}

aside img {
    grid-column: 2 / -2;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: 400px;
    max-height: 254px;
    height: auto;
    width: auto;
}

#final-design {
    margin-bottom: 24px;
}

#graybar2 {
    grid-row: 5;
    margin-top: 20px;
    margin-bottom: 20px;
}

#quote {
    color: #A8A8A8;
    font-size: smaller;
    text-align: right;
    margin-top: -12px;
    padding-top: 0px;
}

#satisfactory-modeler {
    grid-row: 4;
    grid-column: 5 / -2;
    margin-top: 24px;
    border: 10px solid #2D2D2D;
    border-radius: 10px;
}

#phase-selector {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

#phase-selector button {
  padding: 10px 14px;
  border: 2px solid #fa9549;
  background: #f8f8f8;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.2s;
}

#phase-selector button.active {
  background: #fa9549;
  color: white;
}


.contact {
    grid-column: 2 / -2;
    grid-row: 6;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    align-items: center;
    text-align: center;
}

.contact a {
    color: #fff;
}

#contact {
    grid-column: 1;
    grid-row: 1;
    color: #fff;
    padding: 0px;
}

#inspirations {
    grid-column: 3;
    grid-row: 1;
    color: #fff;
    padding: 0px;
}

#feedback form textarea {
    grid-column: 2;
    grid-row: 1;
    background-color: #D9D9D9;
    padding: 0px;
    justify-content: center;

}

textarea {
    border: 10px #FA9549 outset;
    border-radius: 10px;
    background-color: #2D2D2D;
    color: #FFF;
    font-family: 'Sarabun', sans-serif;
    text-decoration-color: #FFF;
}

textarea:focus {
    outline: none;
    border: 10px #FA9549 inset;
    border-radius: 10px;
}

::placeholder {
    color: #D9D9D9;
}

#contact,
#inspirations {
    list-style-type: none;
    line-height: 1.5;
}

#graybar3 {
    grid-row: 7;
    margin-bottom: 20px;
    margin-top: 28px;
}

footer {
    grid-column: 1 / -1;
    grid-row: 8;
    background-color: #FA9549;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #2D2D2D;
}

#highlight {
    color: #FA9549;
    font-weight: bold;
}

@media only screen and (max-width: 992px) {
    .wrapper {
        grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 128px)) minmax(0px, 1fr);
    }

    aside {
        grid-column: 5 / -2;
        grid-template-columns: 10px 83px 166px 83px 10px;
        width: 352px;
        height: 950px;
    }

    aside img {
        width: 332px;
    }
    
    textarea {
        width: 80%;
    }

    #logo {
        height: 40px;
    }

    #satisfactory-modeler {
        margin-top: 60px;
        margin-bottom: 60px;
        justify-content: center;
        width: 324px;
    }

}

@media only screen and (max-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(6, minmax(0, 128px));
    }

    #logo {
        grid-column: 1 / -1;
        grid-row: 1;
        justify-self: center;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 50px;
    }

    #satisfactory-modeler {
        grid-row: 5;
        grid-column: 2 / -2;
        margin: 0px;
    }

    nav {
        grid-column: 1 / -1;
        grid-row: 2;
        margin-left: 10px;
        margin-right: 10px;
    }

    nav ul {
        padding: 0px;
    }

    #orangebar {
        grid-row: 3;
        padding-bottom: 0px;
    }

    #graybar1 {
        display: none;
    }

    #graybar2 {
        grid-column: 1 / -1;
        grid-row: 6;
        margin-top: 10px;
    }

    #graybar3 {
        grid-column: 1 / -1;
        grid-row: 8;
        margin-top: 10px;
    }

    .main-content {
        grid-column: 1 / -1;
        margin: 0px;
        padding: 20px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .contact {
        grid-column: 1 / -1;
        grid-row: 7;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, minmax(0, auto));
        padding: 0px;
        text-align: center;
    }

    .contact #contact {
        grid-column: 1;
        grid-row: 1;
        padding-left: 0px;
    }

    .contact #inspirations {
        grid-column: 1;
        grid-row: 2;
        padding-left: 0px;
    }

    .contact form textarea {
        width: 75%;
        height: 75%;
        justify-content: center;
    }

    aside {
        display: none;
    }

    footer {
        grid-column: 1 / -1;
        grid-row: 9;
    }
}