section {
    margin-top: 27px;
    grid-row: 4;
    grid-column: 2 / -2;
    display: grid;
    grid-template-columns: 1.1fr .9fr .9fr .9fr .9fr .9fr;
    grid-template-rows: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

section h1 {
    grid-row: 1;
    grid-column: 1 / 3;
}

section p {
    grid-row: 1;
    grid-column: 2 / -1;
    font-size: smaller;
    text-align: right;
    margin-top: 45px;
    position: fixed;
    margin-left: 300px;
}

.search {
    grid-row: 2;
    grid-column: 1;
    position: relative;
    max-width: 480px;
    height: 43px;
}

#search-input {
    width: 100%;
    padding: 10px 12px;
    border-radius: 10px;
    border: 2px solid #FA9549;
    margin-right: 5px;
    box-sizing: border-box;
    height: 43px;
    background: #3D3D3D;
    color: #FFF;
}

#search-input:focus {
    outline: none;
}

/*
Was going to implement a suggestions system on the search bar but couldn't quite figure out the Javascript

.suggestions {
    list-style: none;
    display: none;
}

.suggestions li {
    cursor: pointer;
}

.suggestions li[aria-selected="true"], .suggestions li:hover {
    background: #5D5D5D;
}

*/

.space-elevator-selector {
    position: relative;
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #2D2D2D;
    border-radius: 10px;
    height: 40px;
    align-items: center;
    justify-items: center;
    grid-row: 2;
    grid-column: 2 / -1;
    border: solid #FA9549 2px;
    margin-left: 10px;
    width: 800px;
}

.space-elevator-selector input[type="radio"] {
    display: none;
}

.space-elevator-selector label {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    color: #FFF;
    padding: 10px 30px;
    z-index: 2;

}

.selector-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% / 5); 
    height: 100%;
    background-color: #3D3D3D;
    border-radius: 10px;
    transition: transform 0.3s ease;
    z-index: 1;
}

#phase1:checked ~ .selector-bg { 
    transform: translateX(calc(0 * 100%)); 
}

#phase2:checked ~ .selector-bg { 
    transform: translateX(calc(1 * 100%)); 
}

#phase3:checked ~ .selector-bg { 
    transform: translateX(calc(2 * 100%)); 
}

#phase4:checked ~ .selector-bg { 
    transform: translateX(calc(3 * 100%)); 
}

#phase5:checked ~ .selector-bg { 
    transform: translateX(calc(4 * 100%)); 
}

.product-selector-1 {
    margin-top: 10px;
    grid-row: 3;
    grid-column: 1;
    position: relative;
    display: grid;
    grid-template-rows: repeat(9, 1fr);                      
    height: 360px;                     
    padding: 6px;                     
    gap: 6px;                         
    background-color: #2D2D2D;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    border: solid #FA9549 2px;
}

.product-selector-2 {
    margin-top: 10px;
    grid-row: 3;
    grid-column: 1;
    position: relative;
    display: grid;
    grid-template-rows: repeat(6, 1fr);                      
    height: 240px;                     
    padding: 6px;                     
    gap: 6px;                         
    background-color: #2D2D2D;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    border: solid #FA9549 2px;
}

.product-selector-1 input[type="radio"], .product-selector-2 input[type="radio"] {
    display: none;
}

.product-selector-1 label, .product-selector-2 label {
    align-items: center;
    display: flex;
    justify-content: left;
    cursor: pointer;
    border-radius: 5px;
    color: #FFF;
    padding: 4px 0;
    z-index: 2;
    user-select: none;
    gap: 10px;
}

.product-selector-1 label img, .product-selector-2 label img {
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.vert-selector-bg-1 {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100% / 9);
    background-color: #3D3D3D;
    border-radius: 10px;
    transition: transform 0.3s ease;
    z-index: 1;
}

.vert-selector-bg-2 {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100% / 6);
    background-color: #3D3D3D;
    border-radius: 10px;
    transition: transform 0.3s ease;
    z-index: 1;
}

#p1:checked ~ .vert-selector-bg-1 { 
    transform: translateY(calc(0 * 100%)); 
}

#p2:checked ~ .vert-selector-bg-1 { 
    transform: translateY(calc(1 * 100%)); 
}

#p3:checked ~ .vert-selector-bg-1 { 
    transform: translateY(calc(2 * 100%)); 
}

#p4:checked ~ .vert-selector-bg-1 { 
    transform: translateY(calc(3 * 100%)); 
}

#p5:checked ~ .vert-selector-bg-1 { 
    transform: translateY(calc(4 * 100%)); 
}

#p6:checked ~ .vert-selector-bg-1 { 
    transform: translateY(calc(5 * 100%)); 
}

#p7:checked ~ .vert-selector-bg-1 { 
    transform: translateY(calc(6 * 100%)); 
}

#p8:checked ~ .vert-selector-bg-1 { 
    transform: translateY(calc(7 * 100%)); 
}

#p9:checked ~ .vert-selector-bg-1 { 
    transform: translateY(calc(8 * 100%)); 
}

#p10:checked ~ .vert-selector-bg-2 { 
    transform: translateY(calc(0 * 100%)); 
}

#p11:checked ~ .vert-selector-bg-2 { 
    transform: translateY(calc(1 * 100%)); 
}

#p12:checked ~ .vert-selector-bg-2 { 
    transform: translateY(calc(2 * 100%)); 
}

#p13:checked ~ .vert-selector-bg-2 { 
    transform: translateY(calc(3 * 100%)); 
}

#p14:checked ~ .vert-selector-bg-2 { 
    transform: translateY(calc(4 * 100%)); 
}

#p15:checked ~ .vert-selector-bg-2 { 
    transform: translateY(calc(5 * 100%)); 
}

#design-img {
    grid-row: 3;
    grid-column: 2 / -1;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    border: solid #5D5D5D 2px;
}

@media only screen and (max-width: 992px) {
    .search {
        grid-row: 3;
        grid-column: 1;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .space-elevator-selector {
        grid-row: 3;
        grid-column: 2 / -1;
        width: auto;
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .product-selector-1, .product-selector-2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 60px;;
        width: 100%;
        padding: 0;
        grid-row: 4;
        grid-column: 1 / -1;
        margin: 0;
        margin-bottom: 10px;
    }

    .product-selector-1 label, .product-selector-2 label {
        flex: 1 1 0;
        height: 100%;
        padding: 6px 10px;
        justify-content: center;
        gap: 0;
    }

    .product-selector-1 label img, .product-selector-2 label img {
        height: 40px;
        width: 40px;
        margin-bottom: 10px;
    }

    .label-text {
        display: none;
    }

    .vert-selector-bg-1 {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% / 9);
        height: 100%;
        border-radius: 10px;
        transition: transform 0.3s ease;
    }

    .vert-selector-bg-2 {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% / 6);
        height: 100%;
        border-radius: 10px;
        transition: transform 0.3s ease;
    }

    #design-img {
        grid-column: 1 / -1;
        grid-row: 5;
        margin: 0px;
        width: 748px;
    }

    section h1 {
        grid-column: 1 / -1;
    }

    section p {
        grid-row: 2;
        margin: 0;
        text-align: left;
        margin-bottom: 10px;
        grid-column: 1 / -1;
        position: relative;
    }

    #p1:checked ~ .vert-selector-bg-1 { 
        transform: translateX(calc(0 * 100%)); 
    }

    #p2:checked ~ .vert-selector-bg-1 { 
        transform: translateX(calc(1 * 100%)); 
    }

    #p3:checked ~ .vert-selector-bg-1 { 
        transform: translateX(calc(2 * 100%)); 
    }

    #p4:checked ~ .vert-selector-bg-1 { 
        transform: translateX(calc(3 * 100%)); 
    }

    #p5:checked ~ .vert-selector-bg-1 { 
        transform: translateX(calc(4 * 100%)); 
    }

    #p6:checked ~ .vert-selector-bg-1 { 
        transform: translateX(calc(5 * 100%)); 
    }

    #p7:checked ~ .vert-selector-bg-1 { 
        transform: translateX(calc(6 * 100%)); 
    }

    #p8:checked ~ .vert-selector-bg-1 { 
        transform: translateX(calc(7 * 100%)); 
    }

    #p9:checked ~ .vert-selector-bg-1 { 
        transform: translateX(calc(8 * 100%)); 
    }

    #p10:checked ~ .vert-selector-bg-2 { 
        transform: translateX(calc(0 * 100%)); 
    }

    #p11:checked ~ .vert-selector-bg-2 { 
        transform: translateX(calc(1 * 100%)); 
    }

    #p12:checked ~ .vert-selector-bg-2 { 
        transform: translateX(calc(2 * 100%)); 
    }

    #p13:checked ~ .vert-selector-bg-2 { 
        transform: translateX(calc(3 * 100%)); 
    }

    #p14:checked ~ .vert-selector-bg-2 { 
        transform: translateX(calc(4 * 100%)); 
    }

    #p15:checked ~ .vert-selector-bg-2 { 
        transform: translateX(calc(5 * 100%)); 
    }
}

@media only screen and (max-width: 768px) {
    section {
        grid-column: 1 / -1;
    }

    section h1 {
        margin-top: 0px;
    }

    section p {
        position: relative;
    }

    .space-elevator-selector label {
        padding: 4px 8px;
    }

    #design-img {
        width: 100%;
        height: auto;
    }

    .product-selector-1 {
        overflow-x: scroll;
        scrollbar-width: thin;
    }

    .product-selector-2 {
        overflow-x: scroll;
        scrollbar-width: thin;
    }

    .vert-selector-bg {
        display: none;
    }
}