section {
    grid-column: 2 / 5;
    grid-row: 4;
    color: #FFF;
    margin: 27px
}

aside {
    margin: 0px;
    margin-top: 27px;
    grid-column: 5 / -2;
    grid-row: 4;
    background-color: #2d2d2d;
    max-width: 452px;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 26px 1fr 2fr 1fr 26px;
    grid-auto-rows: min-content;
    align-items: start;
    border-radius: 20px;
    justify-self: center;
}

aside h1  {
    color: #fff;
    font-family: 'Satisfontory';
    font-weight: lighter;
    grid-column: 1 / -1;
    grid-row: 1;
    height: 43px;
    text-align: center;
    background-color: #3D3D3D;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

aside span {
    grid-column: 2;
    background-color: #3D3D3D;
    margin: 0px;
    margin-top: 1rem;
    border-top-left-radius: 10px;
    height: 16px;
}

aside h5 {
    grid-column: 3;
    color: #fff;
    background-color: #3D3D3D;
    margin: 0px;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    font-weight: normal;
}

aside p {
    grid-column: 4;
    color: #A8A8A8;
    background-color: #3D3D3D;
    margin: 0px;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 10px;
    font-size: 8px;
    border-top-right-radius: 10px;
    height: 16px;
}

aside img {
    grid-column: 2 / -2;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: 400px;
    max-height: 254px;
    height: auto;
    width: auto;
}

#final-design {
    margin-bottom: 24px;
}

.icon {
    height: 12px;
    width: 12px;
    pointer-events: none;
    margin: 0;
    margin-right: 5px;
}

@media only screen and (max-width: 992px) {
    aside {
        grid-column: 5 / -2;
        grid-template-columns: 10px 83px 166px 83px 10px;
        width: 352px;
        height: 1050px;
    }

    aside img {
        width: 332px;
    }
    
    textarea {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    section {
        grid-column: 1 / -1;
        margin: 0px;
        padding: 20px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    aside {
        display: none;
    }
}