section {
    margin-top: 27px;
    grid-row: 4;
    grid-column: 2 / -2;
    display: grid;
    grid-template-columns: 1.1fr .9fr .9fr .9fr .9fr .9fr;
    grid-template-rows: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

section h1 {
    grid-row: 1;
    grid-column: 1 / 3;
}

section p {
    grid-row: 1;
    grid-column: 2 / -1;
    font-size: smaller;
    text-align: right;
    margin-top: 45px;
    margin-right: 90px;
}

.space-elevator-selector {
    position: relative;
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #2D2D2D;
    border-radius: 10px;
    height: 40px;
    align-items: center;
    justify-items: center;
    grid-row: 2;
    grid-column: 2 / -1;
    border: solid #5D5D5D 2px;
}

.space-elevator-selector input[type="radio"] {
    display: none;
}

.space-elevator-selector label {
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    color: #FFF;
    padding: 4px 0;
    z-index: 2;
}

.selector-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% / 5); 
    height: 100%;
    background-color: #3D3D3D;
    border-radius: 10px;
    transition: transform 0.3s ease;
    z-index: 1;
}

#phase1:checked ~ .selector-bg { 
    transform: translateX(calc(0 * 100%)); 
}

#phase2:checked ~ .selector-bg { 
    transform: translateX(calc(1 * 100%)); 
}

#phase3:checked ~ .selector-bg { 
    transform: translateX(calc(2 * 100%)); 
}

#phase4:checked ~ .selector-bg { 
    transform: translateX(calc(3 * 100%)); 
}

#phase5:checked ~ .selector-bg { 
    transform: translateX(calc(4 * 100%)); 
}

.product-selector-1 {
    margin-top: 10px;
    grid-row: 3;
    grid-column: 1;
    position: relative;
    display: grid;
    grid-template-rows: repeat(9, 1fr);                      
    height: 360px;                     
    padding: 6px;                     
    gap: 6px;                         
    background-color: #2D2D2D;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    border: solid #5D5D5D 2px;
}

.product-selector-1 input[type="radio"]{
    display: none;
}

.product-selector-1 label {
    align-items: center;
    display: flex;
    justify-content: left;
    cursor: pointer;
    border-radius: 5px;
    color: #FFF;
    padding: 4px 0;
    z-index: 2;
    user-select: none;
    gap: 10px;
}

.product-selector-1 label img {
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.vert-selector-bg {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100% / 9);
    background-color: #3D3D3D;
    border-radius: 10px;
    transition: transform 0.3s ease;
    z-index: 1;
}

#p1:checked ~ .vert-selector-bg { 
    transform: translateY(calc(0 * 100%)); 
}

#p2:checked ~ .vert-selector-bg { 
    transform: translateY(calc(1 * 100%)); 
}

#p3:checked ~ .vert-selector-bg { 
    transform: translateY(calc(2 * 100%)); 
}

#p4:checked ~ .vert-selector-bg { 
    transform: translateY(calc(3 * 100%)); 
}

#p5:checked ~ .vert-selector-bg { 
    transform: translateY(calc(4 * 100%)); 
}

#p6:checked ~ .vert-selector-bg { 
    transform: translateY(calc(5 * 100%)); 
}

#p7:checked ~ .vert-selector-bg { 
    transform: translateY(calc(6 * 100%)); 
}

#p8:checked ~ .vert-selector-bg { 
    transform: translateY(calc(7 * 100%)); 
}

#p9:checked ~ .vert-selector-bg { 
    transform: translateY(calc(8 * 100%)); 
}

#design-img {
    grid-row: 3;
    grid-column: 2 / -1;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    border: solid #5D5D5D 2px;
}


@media only screen and (max-width: 992px) {
    .space-elevator-selector {
        grid-row: 3;
        grid-column: 1 / -1;
    }

    .product-selector-1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 60px;;
        width: 100%;
        padding: 0;
        grid-row: 4;
        grid-column: 1 / -1;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .product-selector-1 label {
        flex: 1 1 0;
        height: 100%;
        padding: 6px 10px;
        justify-content: center;
        gap: 0;
    }

    .product-selector-1 label img {
        height: 40px;
        width: 40px;
        margin-bottom: 10px;
    }

    .label-text {
        display: none;
    }

    .vert-selector-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% / 9);
        height: 100%;
        border-radius: 10px;
        transition: transform 0.3s ease;
    }

    #design-img {
        grid-column: 1 / -1;
        grid-row: 5;
        margin: 0px;
        width: 748px;
    }

    section h1 {
        grid-column: 1 / -1;
    }

    section p {
        grid-row: 2;
        margin: 0;
        text-align: left;
        margin-bottom: 10px;
        grid-column: 1 / -1;
    }

    #p1:checked ~ .vert-selector-bg { 
        transform: translateX(calc(0 * 100%)); 
    }

    #p2:checked ~ .vert-selector-bg { 
        transform: translateX(calc(1 * 100%)); 
    }

    #p3:checked ~ .vert-selector-bg { 
        transform: translateX(calc(2 * 100%)); 
    }

    #p4:checked ~ .vert-selector-bg { 
        transform: translateX(calc(3 * 100%)); 
    }

    #p5:checked ~ .vert-selector-bg { 
        transform: translateX(calc(4 * 100%)); 
    }

    #p6:checked ~ .vert-selector-bg { 
        transform: translateX(calc(5 * 100%)); 
    }

    #p7:checked ~ .vert-selector-bg { 
        transform: translateX(calc(6 * 100%)); 
    }

    #p8:checked ~ .vert-selector-bg { 
        transform: translateX(calc(7 * 100%)); 
    }

    #p9:checked ~ .vert-selector-bg { 
        transform: translateX(calc(8 * 100%)); 
    }
}

@media only screen and (max-width: 768px) {
    section {
        grid-column: 1 / -1;
    }

    section h1 {
        margin-top: 0px;
    }

    #design-img {
        width: 100%;
        height: auto;
    }

    .product-selector-1 {
        overflow-x: scroll;
        scrollbar-width: thin;
    }

    .vert-selector-bg {
        display: none;
    }
}