html,
body {
    margin: 0;
    padding: 0;
    background-color: #222;
}

@font-face {
    font-family: 'Satisfontory';
    src: url("fonts/Satisfontory_v1.5.otf") format('opentype');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: "Sarabun", sans-serif;
}

section {
    color: #FFF;
}

section h1 {
    font-family: 'Satisfontory';
    font-weight: lighter;
}

.wrapper {
    background-color: #222;
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    grid-template-rows: auto;
}

#logo {
    grid-column: 2 / 4;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    height: 50px;
}

nav {
    grid-column: 4 / -2;
    grid-row: 1;
}

nav ul {
    display: flex;
    list-style-type: none;
    flex-flow: row nowrap;
}

nav ul li {
    width: 100%;
}

nav a {
    position: relative;
    color: #a8a8a8;
    text-decoration: none;
    font-size: 20px;
    margin: 0px;
    margin-left: 1rem;
    display: block;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

p a {
    text-decoration: underline;
    text-decoration-color: #FA9549;
    color: #FFF;
}

section ul li a {
    text-decoration: underline;
    text-decoration-color: #FA9549;
    color: #FFF;
    line-height: 2rem;
}

nav a:last-child {
    margin-right: 1rem;
}

nav a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background: #FA9549;

    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

nav a:hover::after {
    transform: translateX(-50%) scaleX(1);
}

#orangebar {
    grid-column: 1 / -1;
    grid-row: 2;
    height: 5px;
    background-color: #FA9549;
    margin-bottom: 14px;
}

#graybar1,
#graybar2,
#graybar3 {
    grid-column: 2 / -2;
    height: 1px;
    background-color: #5d5d5d;
}

#graybar1 {
    grid-row: 3;
}

#graybar2 {
    grid-row: 5;
    margin-top: 20px;
    margin-bottom: 20px;
}

.quote {
    color: #A8A8A8;
    font-size: smaller;
    text-align: right;
    margin-top: -12px;
    padding-top: 0px;
}

.contact {
    grid-column: 2 / -2;
    grid-row: 6;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    align-items: center;
    text-align: center;
}

.contact a {
    color: #fff;
}

#contact {
    grid-column: 1;
    grid-row: 1;
    color: #fff;
    padding: 0px;
}

#inspirations {
    grid-column: 3;
    grid-row: 1;
    color: #fff;
    padding: 0px;
}

#feedback form textarea {
    grid-column: 2;
    grid-row: 1;
    background-color: #D9D9D9;
    padding: 0px;
    justify-content: center;
}

textarea {
    border: solid #FA9549 2px;
    border-radius: 10px;
    background-color: #2D2D2D;
    color: #FFF;
    font-family: 'Sarabun', sans-serif;
    text-decoration-color: #FFF;
    resize: none;
    padding: 5px;
}

textarea:focus {
    outline: none;
}

::placeholder {
    color: #D9D9D9;
}

#contact,
#inspirations {
    list-style-type: none;
    line-height: 1.5;
}

#graybar3 {
    grid-row: 7;
    margin-bottom: 20px;
    margin-top: 28px;
}

footer {
    grid-column: 1 / -1;
    grid-row: 8;
    background-color: #FA9549;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #2D2D2D;
}

.highlight {
    color: #FA9549;
    font-weight: bold;
}

.italic {
    font-style: italic;
}

@media only screen and (max-width: 992px) {
    .wrapper {
        grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 128px)) minmax(0px, 1fr);
    }

    #logo {
        height: 40px;
    }

    section ul li a {
    line-height: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(6, minmax(0, 128px));
    }

    #logo {
        grid-column: 1 / -1;
        grid-row: 1;
        justify-self: center;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 50px;
    }

    nav {
        grid-column: 1 / -1;
        grid-row: 2;
        margin-left: 10px;
        margin-right: 10px;
    }

    nav ul {
        padding: 0px;
    }

    #orangebar {
        grid-row: 3;
        padding-bottom: 0px;
    }

    #graybar1 {
        display: none;
    }

    #graybar2 {
        grid-column: 1 / -1;
        grid-row: 6;
        margin-top: 10px;
    }

    #graybar3 {
        grid-column: 1 / -1;
        grid-row: 8;
        margin-top: 10px;
    }

    .contact {
        grid-column: 1 / -1;
        grid-row: 7;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, minmax(0, auto));
        padding: 0px;
        text-align: center;
    }

    .contact #contact {
        grid-column: 1;
        grid-row: 1;
        padding-left: 0px;
    }

    .contact #inspirations {
        grid-column: 1;
        grid-row: 2;
        padding-left: 0px;
    }

    .contact form textarea {
        width: 75%;
        height: 75%;
        justify-content: center;
    }

    footer {
        grid-column: 1 / -1;
        grid-row: 9;
    }
}